body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative; /* Importante para base de posicionamento */
    overflow-x: hidden; /* Previne barra de rolagem horizontal */
}

/* Estilos atualizados para content */
.content {
    position: relative;
    z-index: 100; /* Valor suficientemente alto para sobrepor ao canvas */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff; /* Cor primária do Bootstrap */
    color: white;
    border: none;
    border-radius: 5px;
    position: relative; /* Posicionamento relativo para z-index funcionar */
    z-index: 100; /* Garantir que está acima das partículas */
}



#particleCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Mantém abaixo dos elementos de conteúdo */
}

/* Estilos para o rodapé */
.footer {
    position: absolute; /* Posicionamento absoluto para o rodapé ficar no fundo */
    bottom: 0; /* Alinha na parte inferior da página */
    width: 100%; /* Ocupa a largura total */
    background-color: #212529; /* Cor de fundo */
    color: #ccc; /* Cor do texto */
    text-align: center;
    padding: 10px 0; /* Padding vertical para espaço interno */
}

.navbar {
    position: relative; /* Necessário para aplicar z-index */
    z-index: 200; /* Garante que está acima de todos os outros conteúdos */
}